<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^controller\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /controller.php [L]
</IfModule>
