.header{
  text-align:center;
  margin:auto;
  margin-top:5%;
  font-size:50px;
}

.my-slides{
  background-color:#EEE;
  margin-left:10px;
  margin-top:5%;
  padding:5px;
  width:405px;
  float:left;
  border-radius:5px;
}

.add-slides{
  font-size:20px;
  background-color:#EEE;
  margin-top:5%;
  margin-left:5%;
  width:25%;
  float:left;
  border-radius:5px;
}
form{
  margin:5px;
}
label{
  font-size:20px;
}
input[type="text"]{
  height:40px;
}
input[type="file"]{
  height:40px;
  font-size:20px;
  margin-top:5px;
  margin-bottom:-5px;
}
